<!DOCTYPE html>
<html>
<head>
	<title>Single Input Field</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="controller.js"></script>
</head>
<body>
	<form>
		<label for="AccountNumber">Account Number</label>
		<input type="text" id="AccountNumber" name="AccountNumber">
		<button type="button" id="submit-btn">Submit</button>
	</form>
	<div id="output-container"></div>
</body>
</html>
